**DataSet
src/metrics/**
src/metrics/topological-metrics-kaggle/**
src/metrics/vesuvius-metric-resources/**
src/vesuvius-metric-resources/**
src/topological-metrics-kaggle/**
**.zip
notebooks/temp_raw_downloads/**
checkpoints/**
trash/**
__pycache__/**
utils/__pycache__/**
utils/cldice/__pycache__/**
git_tests/__pycache__/*
inferences/*
**.ipynb_checkpoints**
inferences_postprocess/**
notebooks/13_Post_process**
csv_results/**
