**DataSet
src/metrics/**
src/metrics/topological-metrics-kaggle/**
src/metrics/vesuvius-metric-resources/**
src/vesuvius-metric-resources/**
src/topological-metrics-kaggle/**
**.zip
notebooks/temp_raw_downloads/**
checkpoints/**
trash/**
__pycache__/**
